@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Atma:wght@600&display=swap");

main {
  min-height: 80vh;
  font-family: "Poppins", sans-serif;
  font-family: "Atma", cursive;

  background-image: white;
}
header {
  margin-top: 5px;
}
.headers {
  border: 2px solid rgb(60, 66, 50);
  border-radius: 30px;
}
.title_1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: rgb(190, 233, 148);
  outline: cyan;
}
.carosoul_color {
  background-image: linear-gradient(
    rgba(26, 175, 118, 0.815),
    rgba(26, 175, 118, 0.678)
  );
}
h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
.nav {
  background-image: linear-gradient(
    to right,
    rgba(107, 226, 77, 0.774),
    rgba(177, 196, 151, 0.938)
  );
  outline: chartreuse;
  border-radius: 30px;
}
.s_box,
.ct_button,
.s_button {
  border: 2px solid rgba(255, 208, 0, 0.61);
  border-radius: 6px;
}
.s_box {
  margin-top: 5px;
}
.s_button {
  margin-top: 3px;
}
.bg_img {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 20vh;
  width: 100vh;
}
.drop_menu {
  border-radius: 5px;
}

.show {
  border-radius: 5px;
}
.dropdown-item:hover {
  background-image: linear-gradient(
    to right,
    rgba(107, 226, 77, 0.774),
    rgba(177, 196, 151, 0.938)
  );
}
.drop_text {
  background-color: black;
  color: rgb(51, 255, 0);
  font-size: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* .ct_button{
  border: 2px solid red;
  border-radius: 10px;
  color: rgb(223, 228, 220);
  background-color:linear-gradient(to right, rgba(201, 150, 178, 0.774),  rgba(151, 196, 186, 0.938) );
}
 */
.rating span {
  margin: 0.1rem;
  font-size: 1rem;
}

.nav_link {
  font-size: 1.5rem;
}
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand > img {
  padding: 7px 14px;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}
.dot {
  height: 100px;
  width: 100px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}
@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}
